/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Reset Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variable */
:root {
    --bg-color: #36393f;
    --primary-color: #5865f2;
    --secondary-color: #eb459f;
    --text-color:#b9bbbe;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
button,
div {
    font-family: 'Lato', sans-serif;
}

body{
    overflow-x: hidden;
}

.title{
    font-size: 1.8em;
    font-weight: 600;
    color: #fff;
}

.smText{
    font-size: 1em;
    color: #b9bbbe;
    font-weight: 300;
}

.app_btn{
    background: var(--primary-color);
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    padding: 0.6em 1.5em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.app_btn:hover{
    background: var(--secondary-color);
}

button:disabled{
    opacity: 0.4;
}

.formInput{
    display: block;
    width: 100%;
    padding: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5865f2; 
  }
